---
const {id, name, price, quantity} = Astro.props
---

<article id={`product-${id}`} transition:name={`product-${id}`} style="width: 250px;" class="rounded-lg overflow-hidden">
    <header class="header  p-2 bg-sky-100 text-2xl">
        <div>{name}</div>
    </header>
    <div class="product-body py-4"></div>
        <footer class="product-footer p-2 bg-white flex flex-row justify-between items-center">
        <div>Price: {price}</div>
        <div>Stock: {quantity}</div>
        <div><a class="bg-sky-100 p-2 block rounded-lg">Buy</a></div>
    </footer>
</article>